@page "/"
@inject IJSRuntime JS

<h1>Lessons</h1>
<a href="/javascriptcall">Javascript call from .net code</a><br />

<a href="/dotnetcall">.net code call from Javascript</a><br />

<a href="/notification">Notification</a><br />

