@page "/showcamera"
<a href="/"> &lt; Back </a>
<h2>DotnetCall</h2>
<h3>Camera</h3>
<button onclick="@GetPermission">Permission test</button><br />
<button onclick="@ShowIt">Show Camera</button><br />
@code {

  
}
